version: "3.8"

services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"

  backend:
    build: ./server
    ports:
      - "4000:4000"
    environment:
      MONGO_URI: mongodb://mongo:27017/greencart

  frontend:
    build: ./client
    ports:
      - "5173:5173"
